body{margin: 0;
    padding: 0;
background-color: #F9F3DD;
min-height:100vh;
display:flex;
flex-direction:column;
background-color: #F9F3DD;}
    
.Loginbar {width: 100%;
    list-style-type: none;
    margin:0;
    padding:20px;
    margin:0 auto;
    list-style-type: none;
    padding-top: 0;
    overflow: hidden;
    background-color: #0F183E}

.Title{list-style-type:none; 
    Display:inline-block; 
    float:left; 
    color: white;font-weight: bolder ;}
    
header
    {margin-bottom: auto;
    list-style-type: none;
    margin:0;
    padding:20px;    
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
    height:40px;
    top:0px;
    z-index: 1;}
    
.Loginbar nav
    {float: right;}

    .Loginbar nav ul {margin-right: 30px;
    padding-top: 20px;
    margin: 10px;
    padding-right: 40px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
    
.Loginbar nav ul li 
    {display: inline-block; 
    margin-left: 40px; 
    font-size: 15px; }

.Loginbar nav ul li a 
    {color:white; 
    text-decoration: none; 
    text-transform:uppercase; 
    position: relative;}

.Loginbar nav ul li a:hover
    {color:grey;}
    
.Loginbar nav a::before
    {content:''; 
    display:block;
    height: 2px; 
    background-color:white;
    position:absolute; top: 19px;
    width:0%;
    transition: all ease-in-out 200ms}
    
.Loginbar nav a:hover::before
    {width:100%; }
   

.Aboutus
    {float:left; 
    text-align: justify;
    text-justify: inter-word;
    width:100%; 
    padding-left: 45px;
    column-count: 2;
    margin-bottom: 20px;
    line-height: 1.5;
    margin-right:-120px;}
       
    #Aboutus_p1 
        {font-size: 18px;
         padding-right: 45px;margin-bottom: 15px; }

    #Aboutus_p2{
        font-size: 18px;
        padding-right: 45px;}
   
    #EvaSL
        {padding-right: 15px;
         border-radius: 40px;
         padding-left: 15px;}
    #AlexandraPF
        {padding-left: 15px;
        border-radius: 40px;
        padding-right: 15px;}
    
    
.optionsbar{background-color:#0F183E ; margin:10px;position: relative;margin-right:-10px}

.optionsbar nav 
    { border: none;
    color: white;
    margin: 20px;padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
    width: 100%;
    margin-bottom: 10px;}
    
.optionsbar nav ul 
    {margin-right: 30px;
    padding-top: 15px;
    margin: 10px;
    padding-right: 40px;
    list-style: none;
    font-weight: bold;}

    .optionsbar nav ul li 
        {display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px; }
    
    .optionsbar nav ul li a 
        {color:white; 
        text-decoration: none;
        text-transform:uppercase; 
        position: relative;
        border: 1px solid black;
        border-color: #F9F3DD ;
        padding: 20px;}

    .optionsbar nav ul li a:hover
        {color: black;}
    
    
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        width: 80%;
        background: #f1f1f1;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-left: 60px;
        margin-bottom: 25px;}
          
   
    form.example button 
        {
        width: 10%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;}
          
    form.example button:hover 
        {background: #0b7dda;}
          
          
    form.example::after 
        { content: "";
        clear: both;
        display: table;}

        div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        width: 180px;}
      
      div.gallery:hover {
        border: 1px solid #777;}
      
      div.gallery img {
        width: 100%;
        height: auto;}
      
      div.desc {
        padding: 15px;
        text-align: center;}






        footer { 
            background-color: #0F183E;
            color:white;
            margin-top:auto;
            
            position:relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            max-width: 100vw;
            width: 100vw;
            height:350px;
            
            
            
        }
        
        .footer_information {
            margin-left:80px;
            padding:10px;
            margin-top:15px;
        }
        
.footer_information p {
    text-align:left;
            margin-right:20%;
        }
        
        .fa-ul  
        {list-style-type: none;}
        
        .fa-ul li:before 
        {font-family: "FontAwesome";}
        
        .footer_socialmedia {
            text-align: center;}
        
        .footer_pics li {
            display:inline; 
            margin:15px auto 0 auto; 
            list-style-type:none;}
        
        .socialmedia_buttons {
            text-align:center;}
        
    @media (max-width:991px) {
        .socialmedia_buttons {
        text-align:center;
        margin-top:20px;}}
        
        .socialmedia_buttons > a {
          font-size:20px;
          width:36px;
          height:36px;
          line-height:36px;
          display:inline-block;
          text-align:center;
          border-radius:50%;
          box-shadow:0 0 0 1px rgb(255, 255, 255);
          margin:0 8px;
          color: white;
          opacity:0.75;
        }
        
        .socialmedia_buttons > a:hover {
          opacity:0.9;
        }
        
        
        
     